body {
    background-color: lightblue;
}
div {
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
}

.container-bar {
    background-color:lightblue;
    display:flex
    height: 60px;
}

.ul {
    display:flex;
    justify-content: center;
    align-items: center;
}

.li {
    padding: 20px;
    color: white;
    list-style-type:none;
    border: 1px; solid white;
    border-radius: 8px;
    margin:10px;
    background-color: lightcoral;
    display:flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;

}

table {
    margin:auto;
    border-collapse: collapse;
}

.film {
    background-color: lightyellow;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;}
    
.container-img {
    display: flex;
    
}